<div class="header">
  <div class="logo">Boasaude</div>
  <div>
    <ul class="nav justify-content-end">
      <li>Home</li>
      <li>Benefícios</li>
      <li>Especialidades</li>
      <li>Parceiros</li>
      <li>Planos</li>
      <li>
        <div class="dropdown">
          <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Área restrita
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Associado</a></li>
            <li><a class="dropdown-item" href="#">Prestador</a></li>
            <li><a class="dropdown-item" href="#">Conveniado</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>


