.main {
  margin: 64px 122px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  //LOGIN

  .login {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
    align-items: center;

    //TITULOS
    .titulos {
      padding-bottom: var(--fontelinha-3xl);
      font-family: 'Montserrat', sans-serif;

      h1 {
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        padding-bottom: var(--fontelinha-s);
      }
      p {
        font-size: 1.25rem;
        font-weight: 300;
        text-align: center;
      }
    }

    //FORM
    .form {
      width: 100%;

      .inputs {

        app-inputs {
          margin-bottom: 2.5rem;
        }
        &:first-child {

        }
      }
    }

    //SENHA
    .senha {
      padding: 8px 0 32px;
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      a {
        font-size: var(--fonte-s);
        &:first-child {
          color: var(--preto-800);
          font-weight: 300;
        }
        &:last-child {
          text-decoration: none;
          font-weight: bold;
          color: var(--primary);
        }
      }
    }

    //CONTA
    .conta {
      p {
        font-size: var(--fonte-m);
        font-weight: 300;
      }
      a {
        text-decoration: none;
        color: var(--primary);
        font-weight: bold;
      }
    }
  }
}
