<app-header></app-header>
<div class="main">
  <div class="login">
    <div class="titulos">
      <h1>Olá!</h1>
      <p>Faça login em sua conta</p>
    </div>
    <div class="form">
      <form action="">
        <div class="inputs">
          <app-inputs label="Matrícula" placeholder="11.22.333.44-55" icon="person_outline" ></app-inputs>
          <app-inputs-password></app-inputs-password>
        </div>
        <button class="bs-btn bs-btn-lg-primary "type="submit">entrar
        </button>
      </form>
    </div>
    <div class="senha">
      <a href="">Primeiro login?</a>
      <a href="">Esqueci a senha</a>
    </div>
    <div class="conta">
      <p>Ainda não tem uma conta? <a href="">Crie aqui.</a> </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
