<div class="wrapper">
  <div class="textos">
    <h1>Sua operadora de saúde favorita</h1>
    <p>Com os melhores e mais acessíveis cuidados para a sua saúde</p>
    <div class="simular-plano">
      <p>Simule um plano para você</p>
      <form [formGroup]="idadeForm" >
        <div class="input-group">
          <input type="text" placeholder="Comece nos dizendo sua idade" formControlName="idade">
          <button type="submit" (click)="setIdade()"><span></span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="imagem">
    <img src="../../../../assets/doctors.svg" alt="" srcset="">
  </div>
</div>


