<!-- <img src="../../../../../assets/Boasaude.svg"> -->

<div class="sidebar">
  <a  [routerLink]="['/home/dashboard']" routerLinkActive="active">
    <span class="material-icons-sharp">dashboard</span>
    <h3>Dashboard</h3>
  </a>
  <a >
    <span class="material-icons-sharp">person_outline</span>
    <h3>Meus dados</h3>
  </a>
  <a  routerLinkActive="active" [routerLink]="['/home/consulta/nova']">
    <span class="material-icons-sharp">health_and_safety</span>
    <h3>Consulta</h3>
  </a>
  <a routerLinkActive="active" routerLink="/exame">
    <span class="material-icons-sharp">medication_liquid</span>
    <h3>Exame</h3>
  </a>
  <a routerLinkActive="active" routerLink="/financeiro">
    <span class="material-icons-sharp">health_and_safety</span>
    <h3>Financeiro</h3>
  </a>
  <a routerLinkActive="active" routerLink="solicitacoes">
    <span class="material-icons-sharp">feedback</span>
    <h3>Solicitações</h3>
  </a>
  <a routerLinkActive="active" routerLink="/suporte">
    <span class="material-icons-sharp">support_agent</span>
    <h3>Suport</h3>
  </a>
  <a >
    <span class="material-icons-sharp">logout</span>
    <h3>Logout</h3>
  </a>
</div>
