/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


//VARIÁVEIS
:root {
  --logo: #000B5E;
  --background:#f6f6f9;


  --primary: #5161e7;
  --primary-dark: #3345d9;
  --primary-700: #162dc8;
  --azul-300: #737eec;
  --azul-200: #9ea3f1;
  --azul-100: #c5c7f6;
  --azul-50: #e8e9fc;
  --info: #dce1eb;
  --info-dark: #a6b4d0;

  --laranja-900: #FC7A30;
  --laranja-800: #FF9734;
  --laranja-600: #ffb83a;
  --laranja-50: #FFF8E4;

  --preto-900: #232326;
  --preto-800: #444447;
  --preto-700: #636366;
  --preto-600: #77777B;
  --preto-500: #A0A0A4;
  --preto-400: #BFBFC3;
  --preto-300: #E2E2E6;
  --preto-100: #F5F5F9;
  --preto-50: #FAFAFE;
  --preto-9: #F9F9F9;
  --preto-FA: #FAFAFA;
  --preto-0: #FFFFFF;

  --color-danger:#ff7782;
  --color-success:#41f1b6;
  --color-warning:#ffbb55;



  // Fonte
  --fonte-xss: 10px;
  --fonte-xs: 12px;
  --fonte-s: 14px;
  --fonte-m: 16px;
  --fonte-l: 24px;
  --fonte-xl: 32px;

  //Espaçamentos
  --fontelinha-s: 8px;
  --fontelinha-m: 16px;
  --fontelinha-l: 24px;
  --fontelinha-xl: 32px;
  --fontelinha-2xl: 40px;
  --fontelinha-3xl: 48px;

  //Margens
  --mobile: 16px;
  --tablet: 24px;
  --desktop: 24px;

  --xss: 8px
  --xs: 12px;
  --s: 14px;
  --m: 16px;
  --l: 24px;
  --xl: 36px;
  --2xl: 40px;
  --3xl: 48px;

  --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  --box-shadow-input: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

//RESET

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: .88rem;

}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: var(--preto-800);
  background: var(--background);
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
}


//THEME
.preto-0 { color: var(--preto-0); }
.preto-FA { color: var(--preto-FA);}
.bg-preto-FA { background: var(--preto-FA);}
.bg-preto-0{ background: var(--preto-0);}

.logo { color: var(--logo);}

.azul-500 { color: var(--azul-500); }

.verde-500 { color: var(--verde-500); }

.vermelho-400 { color: var(--vermelho-400); }

.laranja-800 { color: var(--laranja-800); }
.laranja-50 { color: var(--laranja-50); }
.laranja-900 { color: var(--laranja-900); }

.bs-btn {
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bs-btn-lg-primary {
  width: 100%;
  background: var(--azul-500);
  color: var(--preto-0);
  font-size: var(--fonte-m);

  &:hover {
    border-color: var(--azul-900);
    background: var(--azul-900);
    box-shadow: 0 0 0 0.25rem rgba(52, 55, 255, .5);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &:disabled {
    background: var(--preto-500);

    &:hover {
      border-color: var(--azul-500);
      background: var(--preto-600);
      box-shadow: 0 0 0 0.25rem rgba(191, 191, 195, .5);
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

//LAYOUT

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: .87rem;
}

h4 {
  font-size: .8rem;
}

h5 {
  font-size: .77rem;
}

small {
  font-size: .75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--preto-500);
}

p {
  color: var(--preto-800);
}

b {
  color: var(--preto-900);
}

.fonte-xss{ font-size: var(--fonte-xss);}
.fonte-xs{ font-size: var(--fonte-xs);}
.fonte-s{ font-size: var(--fonte-s);}
.fonte-m{ font-size: var(--fonte-m);}
.fonte-l{ font-size: var(--fonte-l);}
.fonte-xl{ font-size: var(--fonte-xl);}

.fontelinha-s {line-height: var(--fontelinha-s);}
.fontelinha-m {line-height: var(--fontelinha-m);}
.fontelinha-l {line-height: var(--fontelinha-l);}
.fontelinha-xl {line-height: var(--fontelinha-xl);}
.fontelinha-2xl {line-height: var(--fontelinha-2xl);}
.fontelinha-3xl {line-height: var(--fontelinha-3xl);}

.w-100 {font-weight: 100;}
.w-200 {font-weight: 200;}
.w-300 {font-weight: 300;}
.w-400 {font-weight: 400;}
.w-700 {font-weight: 700;}

.montserrat { font-family: 'Montserrat';}
.farro { font-family: 'Farro';}

.bs-link { text-decoration: none; cursor: pointer;}
.sublinhado { text-decoration: line-through; color: var(--preto-400)}











