<div class="evento-card">
  <div class="card-left">
    <img src="../../../../../../assets/profile-1.jpg" alt="">
  </div>
  <div class="card-right">
    <div class="info">
      <h4>Diogo Silva</h4>
      <small>Cardiologista</small>
    </div>
    <div class="due-date">
      <div class="date">
        <span class="material-icons-sharp">event</span>
        <p>14/10/22</p>
      </div>
      <div class="time">
        <span class="material-icons-sharp">schedule</span>
        <p>10:30 AM</p>
      </div>
    </div>
    <div class="buttons">
      <button id="cancelar" >Cancelar</button>
      <button id="reagendar" >Reagendar</button>
    </div>
  </div>
</div>
