
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  position: relative;
  top: 8.7rem;
  display: grid;
  grid-template-columns: 18rem auto;

  app-menu {
    padding-left: 4rem;
  }

  .components {
    width: 98%;
  }

}


@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 12rem auto;
  }
}

@media screen and (max-width: 768px) {
  main{
    grid-template-columns: auto;

    app-menu {
      display: none;
    }
  }
}


