<div class="wrapper-marcar-consulta">
  <div class="busca">
    <app-endereco></app-endereco>
    <app-busca></app-busca>
  </div>
  <div class="resultados">
    <app-resultado-busca rota="prestador" ></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
    <app-resultado-busca></app-resultado-busca>
  </div>
</div>


