.form-group1 {
  padding-bottom: 1rem;
  label {
    font-weight: 300;
    font-size: var(--fonte-m);
    padding-bottom: 8px;
  }
  .input-group1 {
    display: flex;
    width: 100%;
    height: 48px;
    background: var(--preto-0);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    input {
      width: 100%;
      border: none;
      border-radius: 8px;
      font-family: 'Montserrat';
      font-size: var(--fonte-m);
    }
    span {
      width: 48px;
      color: var(--preto-400);
      border: none;
      height: 48px;
      padding: 12px 8px;
    }

    &:hover {
      box-shadow: none;
    }
  }
}
