<div class="bs-card">
  <div class="bs-card-title">
    <p class="fonte-l preto-0 w-700">Enfermaria I</p>
  </div>
  <div class="bs-card-subtitle">
    <p class="fonte-xl">109,90</p>
    <p class="fonte-m">Plano médico</p>
  </div>
  <div class="bs-card-body">
    <ul>
      <li> <p>co-participação <i class="bi bi-check-lg verde-500"></i></p>  </li>
      <li> <p>enfermaria <i class="bi bi-check-lg verde-500"></i></p> </li>
      <li> <p>rede nacional  <i class="bi bi-check-lg verde-500"></i></p> </li>
      <li> <p class="sublinhado">plano-odontológico <i class="bi bi-x-lg vermelho-400"></i></p> </li>
      <li> <p class="sublinhado">apartamento <i class="bi bi-x-lg vermelho-400"></i></p> </li>
    </ul>
  </div>
  <div class="bs-card-footer">
     <a class="bs-link azul-500 fonte-l w-700">Quero esse</a>
  </div>
</div>
