<!-- <img src="../../../../../assets/Boasaude.svg"> -->

<!-- <p [ngClass]="{{nota < 6 ? red : blue}}">{{nota}}</p> -->

<div class="sidebar">
  <a href="" >
    <span class="material-icons-sharp">dashboard</span>
    <h3>Dashboard</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">person_outline</span>
    <h3>Meus dados</h3>
  </a>
  <a href="" class="active">
    <span class="material-icons-sharp">health_and_safety</span>
    <h3>Consulta</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">medication_liquid</span>
    <h3>Exame</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">health_and_safety</span>
    <h3>Financeiro</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">feedback</span>
    <h3>Solicitações</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">support_agent</span>
    <h3>Suport</h3>
  </a>
  <a href="">
    <span class="material-icons-sharp">logout</span>
    <h3>Logout</h3>
  </a>
</div>
