<div class="sidebar" >
  <button id="btn"><i class="bi bi-chevron-double-left"></i></button>
  <div class="sidebar-content">
    <ul>
      <li>
        <a href="">
          <i class="bi bi-house"></i>
          <span class="links-name">Dasboard</span>
        </a>
        <!-- <span class="tooltip" >Home</span>  -->
      </li>
      <li>
        <a href="">
          <i class="bi bi-person"></i>
          <span class="links-name">Meus Dados</span>
        </a>
        <!-- <span class="tooltip">Meus Dados</span> -->
      </li>
      <li>
        <a href="">
          <i class="bi bi-currency-dollar"></i>
          <span class="links-name">Financeiro</span>
        </a>
        <!-- <span class="tooltip">Financeiro</span> -->
      </li>
      <li>
        <a href="">
          <i class="bi bi-bell"></i>
          <span class="links-name">Solicitações</span>
        </a>
        <!-- <span class="tooltip">Solicitações</span> -->
      </li>
      <li>
        <a href="">
          <i class="bi bi-headset"></i>
          <span class="links-name">Suporte</span>
        </a>
        <!-- <span class="tooltip" >Home</span>  -->
      </li>
      <li>
        <a href="">
          <i class="bi bi-box-arrow-left"></i>
          <span class="links-name">Sair</span>
        </a>
        <!-- <span class="tooltip">Meus Dados</span> -->
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <div class="content">
      <img src="../../../../../assets/booking.svg" alt="" srcset="">
      <div class="sidebar-button">
        <div class="button-new">
          <button><i class="bi bi-plus-lg"></i></button>
        </div>
        <span>Novo Procedimento</span>
      </div>
    </div>
  </div>

</div>
