<div class="wrapper-dashboard">
  <div class="left">
    <div class="cards-info">
      <app-card-info-medical></app-card-info-medical>
      <div class="card">
        <span class="material-icons-sharp">bubble_chart</span>
        <div class="textos">
          <h4>Hemoglobina</h4>
          <h3>9,595/ml</h3>
        </div>
        <div class="percent">
          <span class="material-icons-sharp">trending_up</span>
          <p>5% a mais que a últiva vez</p>
        </div>
      </div>
      <div class="card">
        <span class="material-icons-sharp">monitor_heart</span>
        <div class="textos">
          <h4>Batimentos</h4>
          <h3>90 bpm</h3>
        </div>
        <div class="percent">
          <span class="material-icons-sharp">trending_up</span>
          <p>5% a mais que a últiva vez</p>
        </div>
      </div>
      <div class="card">
        <span class="material-icons-sharp">scatter_plot</span>
        <div class="textos">
          <h4>Glicose</h4>
          <h3>75-90</h3>
        </div>
        <div class="percent">
          <span class="material-icons-sharp">trending_up</span>
          <p>5% a mais que a últiva vez</p>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="eventos">
        <h2>Próximas Consultas {{ result.nome }} </h2>
        <div class="eventos-cards">
          <app-card-evento></app-card-evento>
          <app-card-evento></app-card-evento>
          <app-card-evento></app-card-evento>
          <app-card-evento></app-card-evento>
          <app-card-evento></app-card-evento>
        </div>
      </div>
      <div class="eventos">
        <h2>Agendar Retorno</h2>
        <div class="eventos-cards">
          <app-card-retorno></app-card-retorno>
          <app-card-retorno></app-card-retorno>
          <app-card-retorno></app-card-retorno>
          <app-card-retorno></app-card-retorno>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="card-marketing">
        <h2>Teste de <span>Covid</span></h2>
        <button>agendar</button>
      </div>
    </div>
    <div class="middle">
      <h2>Resultados Exames</h2>
      <div class="results">
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
        <app-card-exame></app-card-exame>
      </div>
    </div>

  </div>
</div>
