
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  position: relative;
  top: 8.7rem;
  display: grid;
  grid-template-columns: 18rem auto;

 aside {
  padding-left: 3rem;
 }

  .components {
    width: 98%;
  }

}


@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 12rem auto;
  }
}

@media screen and (max-width: 900px) {
  main{
    grid-template-columns: auto;

    aside {
      //display: none;
      position: fixed;
      left: 0;
      top: 0;
      background: var(--preto-0);
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--preto-400);
      height: 100vh;
      padding-right: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  main{
    grid-template-columns: auto;

    aside {
      //display: none;
      position: fixed;
      left: 0;
      top: 0;
      background: var(--preto-0);
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--preto-400);
      height: 100vh;
      padding-right: 1rem;
    }
  }
}


